<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>eksamen</title>
        </head>
        <body>

         
            <div>
                <h1>Type in user you want to delete</h1>

                <form id="form" method="post">
                    <input type="text" id="username" placeholder="Username"/>
                    
                </form>
            </div>
        
            <div>
             
                <button type="button" id="getUser">Get User</button>
            </div>


            <div>
             
                <button type="click" id="deleteUser">Delete selected User</button>
            </div>
            <script type="module" src="../js/admin/adminDelete.js"></script>
        
            <div>
                <p id="dataid"></p>
                <p id="datausername"></p>
                <p id="datapassword"></p>
                <p id="datafirstname"></p>
                <p id="datalastname"></p>
                <p id="databirthdate"></p>
                <p id="datagender"></p>
                <p id="datalookingfor"></p>
                <p id="dataagerange"></p>
                <p id="dataregion"></p>
            </div>
        
        

     

</body>
</html>