<!DOCTYPE html>
<html>
<head>
    <title>Log ind</title>
    
</head>
<body>
    <div class="login-page">
    <div class="form">
   

        <h1>Hello admin. Log in here</h1>

        <form class="Login-form" id="adminloginform">
        <input type="text" id="usernameid" placeholder="Username"/>
        <input type="password" id="passwordid" placeholder="Password"/>
        <button><a type="submit" id="submituser">log in</a></button>
        </form>
    <br>
    

        </div>
    </div>
    
    <div id=message></div>

 
</body>
<script src="../js/admin/adminLogin.js"></script>
</html>