<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date</title>
</head>
<script type="module" src="./js/date.js"></script>

<body>

    <h1>Get ready to meet your soulmate</h1>

    <script> window.onload </script>
    <button type="click" id="swipe">Swipe</button>

    <p id="swipeusername">Username</p>
    <p id="swipefirstname">First name</p>
    <p id="swipelastname">Lastname</p>
    <p id="swipeage">Age</p>
    <p id="swipegender">Gender</p>
    <p id="swiperegion">Region</p>
    <p id="swipeinterest">Interest</p>


    <button type="click" id="like">Like</button>
    <button type="click" id="dislike">Dislike</button>

    <br>
    <br>

    <button type="click" id="homepage">Go back to your hompage</button>

</body>

</html>